@font-face {
    font-family: "Feather";
    src:url("fonts/Feather.ttf") format("truetype");
  }
.feather-activity:before {
      content: ""
    }
.feather-airplay:before {
      content: ""
    }
.feather-alert-circle:before {
      content: ""
    }
.feather-alert-octagon:before {
      content: ""
    }
.feather-alert-triangle:before {
      content: ""
    }
.feather-align-center:before {
      content: ""
    }
.feather-align-justify:before {
      content: ""
    }
.feather-align-left:before {
      content: ""
    }
.feather-align-right:before {
      content: ""
    }
.feather-anchor:before {
      content: ""
    }
.feather-aperture:before {
      content: ""
    }
.feather-arrow-down:before {
      content: ""
    }
.feather-arrow-down-left:before {
      content: ""
    }
.feather-arrow-down-right:before {
      content: ""
    }
.feather-arrow-left:before {
      content: ""
    }
.feather-arrow-right:before {
      content: ""
    }
.feather-arrow-up:before {
      content: ""
    }
.feather-arrow-up-left:before {
      content: ""
    }
.feather-arrow-up-right:before {
      content: ""
    }
.feather-at-sign:before {
      content: ""
    }
.feather-award:before {
      content: ""
    }
.feather-bar-chart:before {
      content: ""
    }
.feather-bar-chart-2:before {
      content: ""
    }
.feather-battery:before {
      content: ""
    }
.feather-battery-charging:before {
      content: ""
    }
.feather-bell:before {
      content: ""
    }
.feather-bell-off:before {
      content: ""
    }
.feather-bluetooth:before {
      content: ""
    }
.feather-bold:before {
      content: ""
    }
.feather-book:before {
      content: ""
    }
.feather-bookmark:before {
      content: ""
    }
.feather-box:before {
      content: ""
    }
.feather-briefcase:before {
      content: ""
    }
.feather-calendar:before {
      content: ""
    }
.feather-camera:before {
      content: ""
    }
.feather-camera-off:before {
      content: ""
    }
.feather-cast:before {
      content: ""
    }
.feather-check:before {
      content: ""
    }
.feather-check-circle:before {
      content: ""
    }
.feather-check-square:before {
      content: ""
    }
.feather-chevron-down:before {
      content: ""
    }
.feather-chevron-left:before {
      content: ""
    }
.feather-chevron-right:before {
      content: ""
    }
.feather-chevron-up:before {
      content: ""
    }
.feather-chevrons-down:before {
      content: ""
    }
.feather-chevrons-left:before {
      content: ""
    }
.feather-chevrons-right:before {
      content: ""
    }
.feather-chevrons-up:before {
      content: ""
    }
.feather-chrome:before {
      content: ""
    }
.feather-circle:before {
      content: ""
    }
.feather-clipboard:before {
      content: ""
    }
.feather-clock:before {
      content: ""
    }
.feather-cloud:before {
      content: ""
    }
.feather-cloud-drizzle:before {
      content: ""
    }
.feather-cloud-lightning:before {
      content: ""
    }
.feather-cloud-off:before {
      content: ""
    }
.feather-cloud-rain:before {
      content: ""
    }
.feather-cloud-snow:before {
      content: ""
    }
.feather-codepen:before {
      content: ""
    }
.feather-command:before {
      content: ""
    }
.feather-compass:before {
      content: ""
    }
.feather-copy:before {
      content: ""
    }
.feather-corner-down-left:before {
      content: ""
    }
.feather-corner-down-right:before {
      content: ""
    }
.feather-corner-left-down:before {
      content: ""
    }
.feather-corner-left-up:before {
      content: ""
    }
.feather-corner-right-down:before {
      content: ""
    }
.feather-corner-right-up:before {
      content: ""
    }
.feather-corner-up-left:before {
      content: ""
    }
.feather-corner-up-right:before {
      content: ""
    }
.feather-cpu:before {
      content: ""
    }
.feather-credit-card:before {
      content: ""
    }
.feather-crop:before {
      content: ""
    }
.feather-crosshair:before {
      content: ""
    }
.feather-delete:before {
      content: ""
    }
.feather-disc:before {
      content: ""
    }
.feather-download:before {
      content: ""
    }
.feather-download-cloud:before {
      content: ""
    }
.feather-droplet:before {
      content: ""
    }
.feather-edit:before {
      content: ""
    }
.feather-edit-2:before {
      content: ""
    }
.feather-edit-3:before {
      content: ""
    }
.feather-external-link:before {
      content: ""
    }
.feather-eye:before {
      content: ""
    }
.feather-eye-off:before {
      content: ""
    }
.feather-facebook:before {
      content: ""
    }
.feather-fast-forward:before {
      content: ""
    }
.feather-feather:before {
      content: ""
    }
.feather-file:before {
      content: ""
    }
.feather-file-minus:before {
      content: ""
    }
.feather-file-plus:before {
      content: ""
    }
.feather-file-text:before {
      content: ""
    }
.feather-film:before {
      content: ""
    }
.feather-filter:before {
      content: ""
    }
.feather-flag:before {
      content: ""
    }
.feather-folder:before {
      content: ""
    }
.feather-github:before {
      content: ""
    }
.feather-gitlab:before {
      content: ""
    }
.feather-globe:before {
      content: ""
    }
.feather-grid:before {
      content: ""
    }
.feather-hash:before {
      content: ""
    }
.feather-headphones:before {
      content: ""
    }
.feather-heart:before {
      content: ""
    }
.feather-help-circle:before {
      content: ""
    }
.feather-home:before {
      content: ""
    }
.feather-image:before {
      content: ""
    }
.feather-inbox:before {
      content: ""
    }
.feather-info:before {
      content: ""
    }
.feather-instagram:before {
      content: ""
    }
.feather-italic:before {
      content: ""
    }
.feather-layers:before {
      content: ""
    }
.feather-layout:before {
      content: ""
    }
.feather-life-buoy:before {
      content: ""
    }
.feather-link:before {
      content: ""
    }
.feather-link-2:before {
      content: ""
    }
.feather-list:before {
      content: ""
    }
.feather-loader:before {
      content: ""
    }
.feather-lock:before {
      content: ""
    }
.feather-log-in:before {
      content: ""
    }
.feather-log-out:before {
      content: ""
    }
.feather-mail:before {
      content: ""
    }
.feather-map:before {
      content: ""
    }
.feather-map-pin:before {
      content: ""
    }
.feather-maximize:before {
      content: ""
    }
.feather-maximize-2:before {
      content: ""
    }
.feather-menu:before {
      content: ""
    }
.feather-message-circle:before {
      content: ""
    }
.feather-message-square:before {
      content: ""
    }
.feather-mic:before {
      content: ""
    }
.feather-mic-off:before {
      content: ""
    }
.feather-minimize:before {
      content: ""
    }
.feather-minimize-2:before {
      content: ""
    }
.feather-minus:before {
      content: ""
    }
.feather-minus-circle:before {
      content: ""
    }
.feather-minus-square:before {
      content: ""
    }
.feather-monitor:before {
      content: ""
    }
.feather-moon:before {
      content: ""
    }
.feather-more-horizontal:before {
      content: ""
    }
.feather-more-vertical:before {
      content: ""
    }
.feather-move:before {
      content: ""
    }
.feather-music:before {
      content: ""
    }
.feather-navigation:before {
      content: ""
    }
.feather-navigation-2:before {
      content: ""
    }
.feather-octagon:before {
      content: ""
    }
.feather-package:before {
      content: ""
    }
.feather-paperclip:before {
      content: ""
    }
.feather-pause:before {
      content: ""
    }
.feather-pause-circle:before {
      content: ""
    }
.feather-percent:before {
      content: ""
    }
.feather-phone:before {
      content: ""
    }
.feather-phone-call:before {
      content: ""
    }
.feather-phone-forwarded:before {
      content: ""
    }
.feather-phone-incoming:before {
      content: ""
    }
.feather-phone-missed:before {
      content: ""
    }
.feather-phone-off:before {
      content: ""
    }
.feather-phone-outgoing:before {
      content: ""
    }
.feather-pie-chart:before {
      content: ""
    }
.feather-play:before {
      content: ""
    }
.feather-play-circle:before {
      content: ""
    }
.feather-plus:before {
      content: ""
    }
.feather-plus-circle:before {
      content: ""
    }
.feather-plus-square:before {
      content: ""
    }
.feather-pocket:before {
      content: ""
    }
.feather-power:before {
      content: ""
    }
.feather-printer:before {
      content: ""
    }
.feather-radio:before {
      content: ""
    }
.feather-refresh-ccw:before {
      content: ""
    }
.feather-refresh-cw:before {
      content: ""
    }
.feather-repeat:before {
      content: ""
    }
.feather-rewind:before {
      content: ""
    }
.feather-rotate-ccw:before {
      content: ""
    }
.feather-rotate-cw:before {
      content: ""
    }
.feather-save:before {
      content: ""
    }
.feather-scissors:before {
      content: ""
    }
.feather-search:before {
      content: ""
    }
.feather-server:before {
      content: ""
    }
.feather-settings:before {
      content: ""
    }
.feather-share:before {
      content: ""
    }
.feather-share-2:before {
      content: ""
    }
.feather-shield:before {
      content: ""
    }
.feather-shopping-cart:before {
      content: ""
    }
.feather-shuffle:before {
      content: ""
    }
.feather-sidebar:before {
      content: ""
    }
.feather-skip-back:before {
      content: ""
    }
.feather-skip-forward:before {
      content: ""
    }
.feather-slack:before {
      content: ""
    }
.feather-slash:before {
      content: ""
    }
.feather-sliders:before {
      content: ""
    }
.feather-smartphone:before {
      content: ""
    }
.feather-speaker:before {
      content: ""
    }
.feather-square:before {
      content: ""
    }
.feather-star:before {
      content: ""
    }
.feather-stop-circle:before {
      content: ""
    }
.feather-sun:before {
      content: ""
    }
.feather-sunrise:before {
      content: ""
    }
.feather-sunset:before {
      content: ""
    }
.feather-tablet:before {
      content: ""
    }
.feather-tag:before {
      content: ""
    }
.feather-target:before {
      content: ""
    }
.feather-thermometer:before {
      content: ""
    }
.feather-thumbs-down:before {
      content: ""
    }
.feather-thumbs-up:before {
      content: ""
    }
.feather-toggle-left:before {
      content: ""
    }
.feather-toggle-right:before {
      content: ""
    }
.feather-trash:before {
      content: ""
    }
.feather-trash-2:before {
      content: ""
    }
.feather-trending-down:before {
      content: ""
    }
.feather-trending-up:before {
      content: ""
    }
.feather-triangle:before {
      content: ""
    }
.feather-tv:before {
      content: ""
    }
.feather-twitter:before {
      content: ""
    }
.feather-type:before {
      content: ""
    }
.feather-umbrella:before {
      content: ""
    }
.feather-underline:before {
      content: ""
    }
.feather-unlock:before {
      content: ""
    }
.feather-upload:before {
      content: ""
    }
.feather-upload-cloud:before {
      content: ""
    }
.feather-user:before {
      content: ""
    }
.feather-user-check:before {
      content: ""
    }
.feather-user-minus:before {
      content: ""
    }
.feather-user-plus:before {
      content: ""
    }
.feather-user-x:before {
      content: ""
    }
.feather-users:before {
      content: ""
    }
.feather-video:before {
      content: ""
    }
.feather-video-off:before {
      content: ""
    }
.feather-voicemail:before {
      content: ""
    }
.feather-volume:before {
      content: ""
    }
.feather-volume-1:before {
      content: ""
    }
.feather-volume-2:before {
      content: ""
    }
.feather-volume-x:before {
      content: ""
    }
.feather-watch:before {
      content: ""
    }
.feather-wifi:before {
      content: ""
    }
.feather-wifi-off:before {
      content: ""
    }
.feather-wind:before {
      content: ""
    }
.feather-x:before {
      content: ""
    }
.feather-x-circle:before {
      content: ""
    }
.feather-x-square:before {
      content: ""
    }
.feather-zap:before {
      content: ""
    }
.feather-zoom-in:before {
      content: ""
    }
.feather-zoom-out:before {
      content: ""
    }
.feather-activity:before,.feather-airplay:before,.feather-alert-circle:before,.feather-alert-octagon:before,.feather-alert-triangle:before,.feather-align-center:before,.feather-align-justify:before,.feather-align-left:before,.feather-align-right:before,.feather-anchor:before,.feather-aperture:before,.feather-arrow-down:before,.feather-arrow-down-left:before,.feather-arrow-down-right:before,.feather-arrow-left:before,.feather-arrow-right:before,.feather-arrow-up:before,.feather-arrow-up-left:before,.feather-arrow-up-right:before,.feather-at-sign:before,.feather-award:before,.feather-bar-chart:before,.feather-bar-chart-2:before,.feather-battery:before,.feather-battery-charging:before,.feather-bell:before,.feather-bell-off:before,.feather-bluetooth:before,.feather-bold:before,.feather-book:before,.feather-bookmark:before,.feather-box:before,.feather-briefcase:before,.feather-calendar:before,.feather-camera:before,.feather-camera-off:before,.feather-cast:before,.feather-check:before,.feather-check-circle:before,.feather-check-square:before,.feather-chevron-down:before,.feather-chevron-left:before,.feather-chevron-right:before,.feather-chevron-up:before,.feather-chevrons-down:before,.feather-chevrons-left:before,.feather-chevrons-right:before,.feather-chevrons-up:before,.feather-chrome:before,.feather-circle:before,.feather-clipboard:before,.feather-clock:before,.feather-cloud:before,.feather-cloud-drizzle:before,.feather-cloud-lightning:before,.feather-cloud-off:before,.feather-cloud-rain:before,.feather-cloud-snow:before,.feather-codepen:before,.feather-command:before,.feather-compass:before,.feather-copy:before,.feather-corner-down-left:before,.feather-corner-down-right:before,.feather-corner-left-down:before,.feather-corner-left-up:before,.feather-corner-right-down:before,.feather-corner-right-up:before,.feather-corner-up-left:before,.feather-corner-up-right:before,.feather-cpu:before,.feather-credit-card:before,.feather-crop:before,.feather-crosshair:before,.feather-delete:before,.feather-disc:before,.feather-download:before,.feather-download-cloud:before,.feather-droplet:before,.feather-edit:before,.feather-edit-2:before,.feather-edit-3:before,.feather-external-link:before,.feather-eye:before,.feather-eye-off:before,.feather-facebook:before,.feather-fast-forward:before,.feather-feather:before,.feather-file:before,.feather-file-minus:before,.feather-file-plus:before,.feather-file-text:before,.feather-film:before,.feather-filter:before,.feather-flag:before,.feather-folder:before,.feather-github:before,.feather-gitlab:before,.feather-globe:before,.feather-grid:before,.feather-hash:before,.feather-headphones:before,.feather-heart:before,.feather-help-circle:before,.feather-home:before,.feather-image:before,.feather-inbox:before,.feather-info:before,.feather-instagram:before,.feather-italic:before,.feather-layers:before,.feather-layout:before,.feather-life-buoy:before,.feather-link:before,.feather-link-2:before,.feather-list:before,.feather-loader:before,.feather-lock:before,.feather-log-in:before,.feather-log-out:before,.feather-mail:before,.feather-map:before,.feather-map-pin:before,.feather-maximize:before,.feather-maximize-2:before,.feather-menu:before,.feather-message-circle:before,.feather-message-square:before,.feather-mic:before,.feather-mic-off:before,.feather-minimize:before,.feather-minimize-2:before,.feather-minus:before,.feather-minus-circle:before,.feather-minus-square:before,.feather-monitor:before,.feather-moon:before,.feather-more-horizontal:before,.feather-more-vertical:before,.feather-move:before,.feather-music:before,.feather-navigation:before,.feather-navigation-2:before,.feather-octagon:before,.feather-package:before,.feather-paperclip:before,.feather-pause:before,.feather-pause-circle:before,.feather-percent:before,.feather-phone:before,.feather-phone-call:before,.feather-phone-forwarded:before,.feather-phone-incoming:before,.feather-phone-missed:before,.feather-phone-off:before,.feather-phone-outgoing:before,.feather-pie-chart:before,.feather-play:before,.feather-play-circle:before,.feather-plus:before,.feather-plus-circle:before,.feather-plus-square:before,.feather-pocket:before,.feather-power:before,.feather-printer:before,.feather-radio:before,.feather-refresh-ccw:before,.feather-refresh-cw:before,.feather-repeat:before,.feather-rewind:before,.feather-rotate-ccw:before,.feather-rotate-cw:before,.feather-save:before,.feather-scissors:before,.feather-search:before,.feather-server:before,.feather-settings:before,.feather-share:before,.feather-share-2:before,.feather-shield:before,.feather-shopping-cart:before,.feather-shuffle:before,.feather-sidebar:before,.feather-skip-back:before,.feather-skip-forward:before,.feather-slack:before,.feather-slash:before,.feather-sliders:before,.feather-smartphone:before,.feather-speaker:before,.feather-square:before,.feather-star:before,.feather-stop-circle:before,.feather-sun:before,.feather-sunrise:before,.feather-sunset:before,.feather-tablet:before,.feather-tag:before,.feather-target:before,.feather-thermometer:before,.feather-thumbs-down:before,.feather-thumbs-up:before,.feather-toggle-left:before,.feather-toggle-right:before,.feather-trash:before,.feather-trash-2:before,.feather-trending-down:before,.feather-trending-up:before,.feather-triangle:before,.feather-tv:before,.feather-twitter:before,.feather-type:before,.feather-umbrella:before,.feather-underline:before,.feather-unlock:before,.feather-upload:before,.feather-upload-cloud:before,.feather-user:before,.feather-user-check:before,.feather-user-minus:before,.feather-user-plus:before,.feather-user-x:before,.feather-users:before,.feather-video:before,.feather-video-off:before,.feather-voicemail:before,.feather-volume:before,.feather-volume-1:before,.feather-volume-2:before,.feather-volume-x:before,.feather-watch:before,.feather-wifi:before,.feather-wifi-off:before,.feather-wind:before,.feather-x:before,.feather-x-circle:before,.feather-x-square:before,.feather-zap:before,.feather-zoom-in:before,.feather-zoom-out:before {
    display: inline-block;
    font-family: "Feather";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -mox-osx-font-smoothing: grayscale;
  }
